.caja{
    width: 400px;
    height: 300px;
    background-color: blue;
    font-family: arial;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transform: rotate(25deg);
    transition: all 0.3s ease;
    /*transform: scale(1);*/
    
}

.caja:hover{
    transform: scale(5) rotate(90deg);
    background-color: aqua;
    
}


