.caja{
    width: 400px;
    height: 300px;
    background-color: blue;
    font-family: arial;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transition: all 2s ease;
    box-sizing: border-box;
    opacity: 0.5;

}

.caja:hover{
    /*box-shadow: inset 0 0 0 25px lightblue; */
    color: white;
    /*border: 5px solid red;*/
    background-color: lightblue;
    border-radius: 50%;
    opacity: 1;

}